.gallery{
	margin: 5px;
	border: 1px solid #ccc;
	float:left;
	width: 390px;
    background-color: burlywood;
    padding-left: 50px;
    padding-top: 50px;
}

.phpbtn1{
	width: 80px;
	height: 30px;
	border-radius: 10px;
   
}
.phpbtn1:hover{
	background-color: yellow;
}

.phpbtn2{
	width: 80px;
	height: 30px;
	border-radius: 10px;
}

.phpbtn2:hover{
	background-color: red;
}
